
<div class="container">
  <h2>フォローしている人</h2>

<table class="table">
  <thead>
    <tr>
      <th>プロファイル</th>
      <th>名前</th>
      <th>email</th>

    </tr>
  </thead>

  <tbody>
      <% @followed_users.each do |followed_user| %>
      <tr>
        <td><%= profile_img(followed_user) %></td>
        <td>  <%= followed_user.name %></td>
        <td>  <%= followed_user.email %></td>


      </tr>
    <% end %>
  </tbody>
  <%= link_to '戻る', users_path %>
</table>
