<div class="container">
  <h2>フォローしている人</h2>
  <% @followers.each do |follower| %>
      <div class="container-child col-md-2 col-sm-4 col-xs-6 ">
        <%= profile_img(follower) %>
        <%= follower.email %>
        <%= follower.name %>
        
      </div>
  <% end %>
  <%= link_to '戻る', users_path %>
</div>
