<div class="container">
  <h2>フォローされている人</h2>

<table class="table">
  <thead>
    <tr>
      <th>プロファイル</th>
      <th>名前</th>
      <th>email</th>

    </tr>
  </thead>

  <tbody>
      <% @followers.each do |follower| %>
      <tr>
        <td><%= profile_img(follower) %></td>
        <td>  <%= follower.name %></td>
        <td>  <%= follower.email %></td>


      </tr>
    <% end %>
  </tbody>
  <%= link_to '戻る', users_path %>
</table>
