// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.img{
    display: block;
    max-width: 25%;
    max-height: 25%;
    min-width: 25%;
    min-height: 25%;
  }
